#profile-container {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 400px;
  height: 120%;
  border-radius: 20px;
  background-image: url('../assets/images/Profile pic.png');
  background-color: #1e1e49;
  overflow: hidden;
}

.profile-form {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

ion-input.custom-input {
  --background: #717681cf;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;
  --padding-end: 10px;
  --padding-start: 10px;

  padding: 5px 0;
  margin: 10px 0;
  border: 4px solid #fff;
  border-radius: 17px;
  overflow: hidden;
  font-size: 14px;
}

.bottom-menu {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url('../assets/images/Task categories.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-action {
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #41298ab0;
}

.action-btn {
  background-color: #6C49D6;
  overflow: hidden;
  border-radius: 50%;
}
